<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
</head>
<body>
	<div class="container">
		<h2>Add Category</h2>
			<div class="col-md-4">
				<form th:object="${book}" th:action="@{save}" action="#" method="post">
				
					<label for="name">Name</label>
						<input type="text" id="title" th:field="*{title}" class="form-control" />
							<div style="clear: both; display: block; height: 10px;"></div>
						

				</form>	
			</div>
	</div>
	
</body>
</html>